<!-- Basic HTML Page to Add data to MySQL DB-->

<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!---basic page needs-->
    <meta charset="utf-8">
    <title>DBS WELFARE APP</title>
    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!--script-->
    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.js"></script>
    <script type="text/javascript">update = {{ update | safe }}</script>

    <!-- favicons-->
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">


</head>

<body id="top">

<!--header-->
<header class="short-header">
    <div class="gradient-block"></div>
    <div class="row header-content">
        <div class="logo">
            <a href="/">Movies</a>
        </div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation sf-menu">
                <li class="current"><a href="/" title="">Home</a></li>
                <li class="current"><a href="/admin">Admin</a></li>
                <li class="current"><a href="/logout">Logout</a></li>
            </ul>
        </nav> <!-- end main-nav-wrap -->
        <div class="triggers">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->
    </div>
</header> <!--end header -->


<div class="row masonry">

    <!--Json Dynamic load brick-wrapper -->
    <div id="brick_wrapper_format" class="bricks-wrapper">
    </div> <!--end Json Dynamic brick-wrapper -->
</div><!--end row masonry-->
</div>
</section> <!--end bricks -->

<!--Begin Login Modal-->
<br><br>
<div class="container">
    <div class="row">
        <div class="col s12 l4">
            <form method="POST" action="/update">
                <center>
                    <H1>Update the Store details </H1> <br>
                    <table width='480px' align='center'>
                        <tr>
                            <td>Store ID</td>
                            <td>{{ form.storeId }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Store Name</td>
                            <td>{{ form.storeName }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td> Store InCharge</td>
                            <td>{{ form.storeInCharge }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Store Type</td>
                            <td>{{ form.storeType }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ form.description }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Store Brief</td>
                            <td>{{ form.storePara }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Image Path</td>
                            <td>{{ form.image }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Store Map</td>
                            <td>{{ form.storeMap }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <table>
                            <tr>
                                <td align='center'>
                                    <button class="btn btn&#45;&#45;primary" type="submit" name="postAction"
                                            value="submit"
                                            style="line-height:10px;height: auto;margin-right:1px;">Submit
                                    </button>
                                    <button class="btn btn--primary" name="postAction" value="delete"
                                            style="line-height:10px;height: auto;margin-right:1px;">Delete
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </table>
                </center>
            </form>
            <!--</BODY> -->
        </div>
    </div>
</div>


<!--footer-->
<footer>
    <div class="footer-main">
        <div class="row">
            <div class="col-four tab-full mob-full footer-info">
                <h4>About Our Site</h4>
                <p>
                    It is a coupon offer listing website integrated with news and corona api for the live feed
                    that allows the frontliners to view the current headlines and offers provided by restaurants,
                    cafe and many more <br/>
                    <br/>
                <h6>Web Development for Information Systems By</h6>
                Jayabalaji Rajendran (10537723)<br/>
                </p>
            </div>
        </div> <!-- end row footer-main-->
    </div> <!-- end footer-main -->

    <div class="footer-bottom">
        <div class="row">
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
            </div>
        </div>
    </div> <!--end footer-bottom -->

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>

<!--Java Script-->
<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/update.js"></script>

</body>

</html>