<!-- Basic HTML Page to Add data to MySQL DB-->

<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!---basic page needs-->
    <meta charset="utf-8">
    <title>DBS WELFARE APP</title>
    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--CSS-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!--script-->
    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.js"></script>

    <!-- favicons-->
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">


</head>

<body id="top">

<!--header-->
<header class="short-header">
    <div class="gradient-block"></div>
    <div class="row header-content">
        <div class="logo">
            <a href="/">Movies</a>
        </div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation sf-menu">
                <li class="current"><a href="/offers">Offers</a></li>
                <li class="current"><a href="/" title="">Home</a></li>
                <li class="current"><a href="/login">Login</a></li>
            </ul>
        </nav> <!-- end main-nav-wrap -->
        <div class="triggers">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->
    </div>
</header> <!--end header -->


<div class="row masonry">

    <!--Json Dynamic load brick-wrapper -->
    <div id="brick_wrapper_format" class="bricks-wrapper">
    </div> <!--end Json Dynamic brick-wrapper -->
</div><!--end row masonry-->
</div>
</section> <!--end bricks -->

<!--Begin Login Modal-->
<br><br>
<div class="container">
    <div class="row">
        <div class="col s12 l4">
            {% if messages %}
                <div class="container masonry">
                    {% for msg in messages %}
                        <div class="alert alert-warning" id="flash_message"
                             style="text-align:center;">
                            {{ msg.message }}
                        </div>
                        <br><br>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST" action="/create" onsubmit="return validateForm()">
                <center>
                    <H1>Enter your details to create an account </H1> <br>
                    <table width='480px' align='center'>
                        <tr>
                            <td>Name</td>
                            <td>
                                {{ form.name }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span id="status"></span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{ form.gender }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>{{ form.dateOfBirth }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{ form.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>User Name</td>
                            <td>{{ form.userName }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span id="passwordStrength"></span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Confirm Password</td>
                            <td>{{ form.confirmPassword }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span id="confirmMessage" class="confirmMessage"></span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn&#45;&#45;primary" name="postAction" id="btnSubmit"
                                            value="submit"
                                            type="submit"
                                            style="line-height:10px;height: auto;margin-right:1px;">Submit
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </table>
                </center>
            </form>
            <!--</BODY> -->
        </div>
    </div>
</div>


<!--footer-->
<footer>
    <div class="footer-main">
        <div class="row">
            <div class="col-four tab-full mob-full footer-info">
                <h4>About Our Site</h4>
                <p>
                    It is a coupon offer listing website integrated with news and corona api for the live feed
                    that allows the frontliners to view the current headlines and offers provided by restaurants,
                    cafe and many more <br/>
                    <br/>
                <h6>Web Development for Information Systems By</h6>
                Jayabalaji Rajendran (10537723)<br/>
                </p>
            </div>
        </div> <!-- end row footer-main-->
    </div> <!-- end footer-main -->

    <div class="footer-bottom">
        <div class="row">
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
            </div>
        </div>
    </div> <!--end footer-bottom -->

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>

<!--Java Script-->
<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="../static/js/plugins.js"></script>
<link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet"/>
<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="../static/js/user.js"></script>

</body>

</html>